@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Home*/

body {
    background-color: #ffcc50;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    color: black;
    background-color: #ffa43a;
}

nav a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 100px;
}

img {
    padding: 50px 500px 200px 500px;
}

h2 {
    color: rgb(82, 79, 79);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagen-portada {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


/*Nosotros*/

.grid {
    display: grid;
    grid-template-areas: "nav nav" "main main" "footer footer";
}

.gridHeader {
    display: grid;
    grid-template-areas: "navFlex";
}

.gridMain {
    display: grid;
    grid-template-areas: "nosotros video";
}

.gridFooter {
    display: grid;
    grid-template-areas: "redesFooter";
}

header {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.nosotros {
    grid-area: nosotros;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: x-large;
}

.video {
    grid-area: video;
    display: flex;
    flex-direction: column;
    margin: 200px;
}

.redesFooter p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


/*Servicios*/

.lista {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Cabina {
    width: 300px;
    height: 300px;
    padding: 5px 100px 50px 5px;
}

.Instat {
    width: 300px;
    height: 300px;
    padding: 5px 100px 50px 5px;
}

.Espejo {
    width: 300px;
    height: 300px;
    padding: 5px 100px 50px 5px;
}

.Foto360 {
    width: 300px;
    height: 300px;
    padding: 5px 100px 50px 5px;
}


/*Galeria*/

.img {
    width: 300px;
    height: 300px;
    padding: 5px 100px 50px 5px;
}

h2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    margin-bottom: 20px;
}

footer p {
    color: rgb(2, 9, 15);
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Vista Mobile*/

@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-areas: "nav" "main" "main" "footer";
    }
    .gridHeader {
        display: grid;
        grid-template-areas: "navFlex";
    }
    .gridMain {
        display: grid;
        grid-template-areas: "nosotros" "video";
    }
    .gridFooter {
        display: grid;
        grid-template-areas: "redesFooter";
    }
    header {
        grid-area: nav;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }
    .nosotros {
        grid-area: nosotros;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10px;
        font-size: x-small;
    }
    .video {
        grid-area: video;
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    .redesFooter p {
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
    }
}